{% extends "layout.html" %}

{% block content %}
<style>
    @keyframes fade-in {
        from {
            opacity: 0;
        }
    }

    @keyframes fade-out {
        to {
            opacity: 0;
        }
    }

    @keyframes slide-from-right {
        from {
            transform: translateX(90px);
        }
    }

    @keyframes slide-to-left {
        to {
            transform: translateX(-90px);
        }
    }

    .slide-it {
        view-transition-name: slide-it;
    }

    ::view-transition-old(slide-it) {
        animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
            600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
    }

    ::view-transition-new(slide-it) {
        animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
            600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
    }
</style>
<section>
    <h1>Welcome</h1>
</section>
<div class="slide-it">
    <p>Initial Content</p>
    <button hx-post="/counter" hx-swap="innerHTML transition:true" hx-target="closest div">
        Swap It!
    </button>
</div>
{% if markdown %}
{{ markdown|safe }}
{% else %}
Sorry, markdown isn't defined.
{% endif %}
<script src="/static/js/lib/htmx.min.js"></script>
{% endblock content %}